services:

  # --- Tracing Backend ---
  jaeger:
    image: jaegertracing/jaeger:2.4
    container_name: jaeger
    ports:
      - "16686:16686"   # Jaeger UI
      - "4318:4318"     # OTLP HTTP receiver
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    command: ["--set", "receivers.otlp.protocols.http.endpoint=0.0.0.0:4318"]

  # --- Microservices ---
  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product-service
    ports:
      - "8081:8081"
    environment:
      - MANAGEMENT_OTLP_TRACING_ENDPOINT=http://jaeger:4318/v1/traces
    depends_on:
      - jaeger

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - "8082:8082"
    environment:
      - SERVICES_PRODUCT_URL=http://product-service:8081
      - SERVICES_PAYMENT_URL=http://payment-service:8083
      - MANAGEMENT_OTLP_TRACING_ENDPOINT=http://jaeger:4318/v1/traces
    depends_on:
      - jaeger
      - product-service
      - payment-service

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    ports:
      - "8083:8083"
    environment:
      - MANAGEMENT_OTLP_TRACING_ENDPOINT=http://jaeger:4318/v1/traces
    depends_on:
      - jaeger
